<h2>{{titulo}}</h2>
<hr />
<div ng-show="autenticado">
	<button class="btn btn-primary" ng-click="refresh()">Actualizar</button>
	<button class="btn btn-success" ng-click="openInsertForm()">Insertar</button>
	<hr />
	<div class="row">
		<div class="col-lg-6">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="busqueda.text" placeholder="Buscar....">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-lg-6">
			<ul>
				<li ng-repeat="task in h.tasks">
					{{task.nombre}}
					<button ng-click="openEditHistory(h)" class="btn btn-info ">Editar</button>
					<button ng-click="eliminar(h)" class="btn btn-warning glyphicon glyphicon-remove"></button>
				</li>
			</ul>
		</div>
	</div>
</div>
<div ng-show="!autenticado">Debe autenticarse!</div>