<h2>{{titulo}}</h2>
<hr />
<div ng-show="autenticado">
	<button class="btn btn-primary" ng-click="refresh()">Actualizar</button>
	<button class="btn btn-success" ng-click="openInsertTareaForm()">Insertar</button>
	<hr />
	<div class="row">
		<div class="col-lg-6">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="busqueda.text"
					placeholder="Buscar...."> <span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
	<hr />
	<div class="container-fluid">
		<div class="row">

			<div class="col-lg-12">
				<button type="button" class="btn btn-default"
					aria-label="Nuevo tarea" ng-click="openInsertTareaForm()">
					<span class="glyphicon glyphicon-plus"></span> Nueva Tarea
				</button>

			</div>
			<div ng-repeat="(nombreLista, lista) in listas" class="col-xs-2">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">{{nombreLista}}</h3>
					</div>
					<div class="panel-body">
						<ul dnd-list="lista" 
							dnd-drop="callback({targetIndex: index, nombreListaDestino:nombreLista})">
							<li ng-repeat="task in lista" 
								dnd-draggable="null"
								dnd-effect-allowed="move"
								dnd-callback="onDrop(nombreLista, $index, nombreListaDestino, targetIndex)">
								{{task.nombre}}</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-show="!autenticado">Debe autenticarse!</div>