
<div class="modal-header">
	<h3 class="modal-title">{{tareaFormTitulo}} Tarea</h3>
</div>
<form class="form-horizontal">
	<fieldset>
		<div class="modal-body">

			<div class="form-group">
				<label class="col-md-4 control-label">Tarea</label>
				<div class="col-md-8">
					<input type="text" class="form-control" placeholder="Tarea" ng-model="task.nombre"
						required autofocus>
				</div>
				
				<label class="col-md-4 control-label">Prioridad</label>
				<div class="col-md-8">
					<select class="form-control" ng-model="task.prioridad">
						<option value='Alta'>Alta</option>
	      				<option value='Media'>Media</option>
	      				<option value='Baja'>Baja</option>
	      			</select>
				</div>
				
				<label class="col-md-4 control-label">Estimación</label>
				<div class="col-md-8">
					<select class="form-control" ng-model="task.estimacion">
						<option value='1'>1</option>
	      				<option value='2'>2</option>
	      				<option value='3'>3</option>
						<option value='5'>5</option>
	      				<option value='8'>8</option>
	      				<option value='13'>13</option>
	      				<option value='21'>21</option>
	      			</select>
				</div>
			</div>
		</div>		
	</fieldset>
</form>
<div class="modal-footer">
	<button class="btn btn-danger" type="submit" ng-click=closeModal()>Cancelar</button>
	<button class="btn btn-success" type="submit" ng-click=success()>{{SuccessBtnText}}</button>
</div>
